/* styles/SavedBreedingList.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .breedingList {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }
  