/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #b27fe5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #1d1c1c;
    text-align: center;
    color: #ffffff;
  }
  
  /* Heading styles */
  .heading {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #b27fe5;
  }
  
  /* Description styles */
  .description {
    margin-bottom: 30px;
    font-size: 1rem;
  }