:root {
  --main-font: var(--font-silkscreen);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}
body {
  font-family: var(--main-font), sans-serif;
  background-color: black;
  color: #b689e3;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  border-bottom: 3px solid #b27fe5;
  box-sizing: border-box;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  margin-top: 100px;
  overflow-y: scroll;
}

.content-wrap {
  flex: 1;
  padding: 20px;
}

footer {
  background: #000000;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

button {
  font-family: var(--main-font), sans-serif;
}