.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.palGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.link {
    text-decoration: none;
    color: #b27fe5;
}

.noFavText {
    text-align: center;
    font-size: 1.5rem;
}