.burgerMenu {
    display: none; /* Hidden by default, shown in media query */
  }
  
  .hamburger {
    background: none;
    border: none;
    color: #b27fe5;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease;
  }
  
  
  .navLinks {
    display: none; /* Hidden by default, shown when active */
  }
  
  .navLinksActive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #1d1c1c;
    width: 50%;
    top: 100px;
    right: 0;
    text-align: center;
    z-index: 10;
    border-left: 1px solid #b27fe5;
    border-bottom: 1px solid #b27fe5;
    transition: background-color 0.3s ease;
  }
  
  .link {
    color: #b27fe5;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  
  .logoutBtn {
    color: black;
    background-color: #b27fe5;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .logoutBtn:hover {
    background-color: #dfc7f7;
    color: white;
  }
  
  /* Media queries */
  @media (max-width: 767.98px) {
    .burgerMenu {
      display: block;
    }
  }
  
  @media (max-width: 300px) {
    .hamburger {
      font-size: 24px;
    }
  
    .navLinksActive {
      width: 100%;
    }
  }