.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 100%;
  margin: 20px;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.dropdownButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.clearFilterSpan {
  cursor: pointer;
  padding: 5px;
  user-select: none;
  color: #b27fe5;
}

.filterContainer {
  min-height: 75px;
}

.selectedFiltersContainer {
  display: flex;
  position: fixed;
  top: 110px; 
  left: 20px;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.selectedFilter {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.clearIndividualFilter {
  background: none;
  border: none;
  color: #b27fe5;
  margin-left: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.typeSpan {
  display: block;
  cursor: pointer;
  margin-left: 30%;
  margin-top: 10px;
  padding: 5px;
}

.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 24px;
  font-weight: bold;
  background-color: #b27fe5;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.7;
  z-index: 1001; 
}

.scrollToTopButton:hover {
  opacity: 1; 
}

.cardLink {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .filterContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .selectedFiltersContainer {
    position: relative;
    top: auto;
    left: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .dropdownButtonsContainer {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .filterContainer {
    align-items: center;
    gap: 10px;
  }

  .selectedFiltersContainer {
    position: relative;
    top: auto;
    left: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .dropdownButtonsContainer {
    gap: 10px;
  }

  .selectedFilter {
    padding: 5px;
  }

  .clearFilterSpan {
    font-size: 14px;
  }
}