.modalOverlay {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
  }
  
  .modalContent {
    position: absolute;
    top: 14%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    max-width: 500px;
    width: 90%;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    border: 1px solid #8b4caf;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    text-align: center;
  }
  
  .confirmButton {
    background-color: #8b4caf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  